@model NgolaTur.Models.Provincia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>Provincia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeProvincia" class="control-label"></label>
                <input asp-for="NomeProvincia" class="form-control" />
                <span asp-validation-for="NomeProvincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProvincia" class="control-label"></label>
                <input asp-for="EstadoProvincia" class="form-control" />
                <span asp-validation-for="EstadoProvincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
