@using NgolaTur.ViewModels;
@model HomeDestaquesViewModel


@if (Model.Hoteis.Any() || Model.PontosTuristicos.Any() || Model.Restaurantes.Any())
            {
<div class="recent-listing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Quartos de Hotel disponíveis</h2>
                    <h6>Reserve já</h6>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-carousel owl-listing">
                    <!--Hotel-->
                    @if (Model.Hoteis.Any())
                    {
                        <div class="item">
                            <div class="row">
                                @foreach (var hoteis in Model.Hoteis)
                                {
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img src="~/assets/images/listing-01.jpg" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>1. First Apartment Unit</h4></a>
                                                <h6>by: Sale Agent</h6>
                                                <ul class="rate">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li>(18) Reviews</li>
                                                </ul>
                                                <span class="price"><div class="icon"><img src="~/assets/images/listing-icon-01.png" alt=""></div> $450 - $950 / month with taxes</span>
                                                <span class="details">Details: <em>2760 sq ft</em></span>
                                                <ul class="info">
                                                    <li><img src="~/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                    <li><img src="~/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="contact.html"><i class="fa fa-eye"></i> Reserve já</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!--Restaurante-->
                    @if (Model.Hoteis.Any())
                    {
                        <div class="item">
                            <div class="row">
                                @foreach (var hoteis in Model.Restaurantes)
                                {
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img src="~/assets/images/listing-01.jpg" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>1. First Apartment Unit</h4></a>
                                                <h6>by: Sale Agent</h6>
                                                <ul class="rate">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li>(18) Reviews</li>
                                                </ul>
                                                <span class="price"><div class="icon"><img src="~/assets/images/listing-icon-01.png" alt=""></div> $450 - $950 / month with taxes</span>
                                                <span class="details">Details: <em>2760 sq ft</em></span>
                                                <ul class="info">
                                                    <li><img src="~/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                    <li><img src="~/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="contact.html"><i class="fa fa-eye"></i> Reserve já</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!--Pontos Turisticos-->
                    @if (Model.Hoteis.Any())
                    {
                        <div class="item">
                            <div class="row">
                                @foreach (var hoteis in Model.PontosTuristicos)
                                {
                                    <div class="col-lg-12">
                                        <div class="listing-item">
                                            <div class="left-image">
                                                <a href="#"><img src="~/assets/images/listing-01.jpg" alt=""></a>
                                            </div>
                                            <div class="right-content align-self-center">
                                                <a href="#"><h4>1. First Apartment Unit</h4></a>
                                                <h6>by: Sale Agent</h6>
                                                <ul class="rate">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li>(18) Reviews</li>
                                                </ul>
                                                <span class="price"><div class="icon"><img src="~/assets/images/listing-icon-01.png" alt=""></div> $450 - $950 / month with taxes</span>
                                                <span class="details">Details: <em>2760 sq ft</em></span>
                                                <ul class="info">
                                                    <li><img src="~/assets/images/listing-icon-02.png" alt=""> 4 Bedrooms</li>
                                                    <li><img src="~/assets/images/listing-icon-03.png" alt=""> 4 Bathrooms</li>
                                                </ul>
                                                <div class="main-white-button">
                                                    <a href="contact.html"><i class="fa fa-eye"></i> Reserve já</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


}