@model NgolaTur.Models.Restaurante

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Restaurante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeRestaurante" class="control-label"></label>
                <input asp-for="NomeRestaurante" class="form-control" />
                <span asp-validation-for="NomeRestaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCidade" class="control-label"></label>
                <select asp-for="IdCidade" class="form-control"
                        asp-items="@ViewBag.IdCidade"></select>
                <span asp-validation-for="IdCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoriaRestaurante" class="control-label"></label>
                <select asp-for="IdCategoriaRestaurante" class="form-control"
                        asp-items="@ViewBag.IdCategoriaRestaurante"></select>
                <span asp-validation-for="IdCategoriaRestaurante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
