@model NgolaTur.Models.ClassificacaoHotel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que deseja eliminar isto?</h3>
<div>
    <h4>ClassificacaoHotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeClassificacaoHotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeClassificacaoHotel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar a listagem</a>
    </form>
</div>
