@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Olá sr(a). @User.Identity.Name!</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item" href="#">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit">Sair</button>
                </form>
            </div>
        </div>
    </li>


    @*<li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Olá sr(a). @User.Identity.Name!</a>
    </li>
    <li>
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit">Sair</button>
        </form>
    </li>*@
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Registar-se</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}
